<div class="sidebar-heading mt-2 ml-3"><h4>Menu</h4> </div>
<div class="list-group list-group-flush">
  <%= link_to "List of products", products_path, class: "list-group-item list-group-item-action bg-light" %>
  <%= link_to "List of tags", tags_path, class: "list-group-item list-group-item-action bg-light" %>
  <%= link_to  "List of categories", categories_path, class:"list-group-item list-group-item-action bg-light" %>
  <%= link_to  "List of users", users_path, class:"list-group-item list-group-item-action bg-light" %>

</div>
