<tr>
  <td><%= category.name %></td>
  <td class='text-right'>
    <%= link_to t('button_options.edit'), edit_admin_category_path(category), class: 'btn btn-sm btn-outline-warning' %>
    <%= link_to t('button_options.delete'), admin_category_path(category), method: :delete, data: { confirm: t('alerts.you_sure') }, class: 'btn btn-sm btn-outline-danger' %>
  </td>
</tr>